.cards {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, 282px);
  color: #000;
  gap: 20px 17px;
  border-radius: 10px;
}
