.card__like_active {
  width: 22px;
  height: 19px;
  background-image: url(../../../../images/activeLike.svg);
  position: relative;
  top: 5px;
  right: 8px;
  cursor: pointer;
  font: inherit;
  border: none;
}

.card__like_active:hover {
  opacity: 0.5;
}