.profile__edit-button {
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  background-image: url(../../../images/pencil.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40.75px 0 0 18px;
  cursor: pointer;
  background-color: #000000;
}