.popup__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  padding: 0 0 13px 0;
}

.popup__input:nth-child(2) {
  padding-top: 30px;
}

@media (max-width:540px) {
  .popup__input {
    width: 238px;
    margin-left: 22px;
  }
}