.popup__container {
  width: 358px; /* ширина с учетом паддингов */
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 35px 36px 0;
  position: relative;
}

@media (max-width:540px) {
  .popup__container {
    width: 282px;
    padding: 25px 0 0;
  }
}

