.popup__submit {
  display: block;
  width: 100%;
  max-width: 358px;
  height: 50px;
  color: #FFF;
  background-color: #000;
  border-radius: 2px;
  font-family: 'Inter','Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.popup__submit:hover {
  opacity: .8;
}

@media (max-width:540px) {
  .popup__submit {
    width: 238px;
    /* margin-left: 22px; */
    font-size: 14px;
  }
}