.popup__submit {
  display: block;
  width: 358px;
  height: 50px;
  margin-top: 57px;
  margin-left: 36px;
  margin-bottom: 37px;
  color: #FFF;
  background-color: #000;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}